@use "sass:map";

/**
* Font families
*/
$poppins: "Poppins", sans-serif;
$inter: "Inter", sans-serif;

/**
* Breakpoint -------------------- 
*/
$mobile-down: 600px;
$mobile-up: 601px;
$tablet-down: 1024px;
$tablet-up: 1025px;
$laptop-down: 1440px;
$laptop-up: 1441px;

/**
* Color -------------------- 
*/

$colors: (
  "primary": #e0f7ef,
  "accent-1": #68b0ac,
  "accent-2": #38822c,
  "accent-3": #efefef,
  "neutral-black": #000000,
  "neutral-white": #ffffff,
);

$primary: map.get($colors, "primary");
$accent-1: map.get($colors, "accent-1");
$accent-2: map.get($colors, "accent-2");
$accent-3: map.get($colors, "accent-3");
$neutral-black: map.get($colors, "neutral-black");
$neutral-white: map.get($colors, "neutral-white");
