@use "src/styles/abstracts/variables" as v;
@use "src/styles/abstracts/typo-mixins" as t;

._Container {
  .__Row {
    padding: 12px 16px;
    width: 100%;
    max-width: 600px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    ._Col__Logo {
      img {
        height: auto;
      }
    }

    ._Col__Menu {
      z-index: 9;
      ._toggleBtn {
        border: none;
        background-color: transparent;
        color: transparent;
        ._registered {
          display: flex;
          gap: 8px;
        }
      }
    }
  }
}
