@use "src/styles/abstracts/variables" as v;
@use "src/styles/abstracts/typo-mixins" as t;

._Container {
  margin: 48px auto;
  .__Row {
    padding: 12px 16px;
    width: 100%;
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: flex-start;
    justify-content: center;
    h2 {
      @include t.heading-2;
    }

    ._Col__Done,
    ._Col__Active,
    ._Col__Process {
      width: 100%;
      max-width: 390px;
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 24px;
      padding: 7px 14px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 15px;
      background-color: v.$primary;

      ._Desc {
        display: flex;
        flex-direction: column;
        gap: 2px;
        h3 {
          @include t.heading-3;
        }
        p {
          @include t.subheading-2;
          color: v.$accent-2;
          text-transform: capitalize;
        }
      }
    }
  }
}
